name: CI

on: [push, pull_request]

jobs:
  main:
    name: ${{ matrix.os }} with python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        # when changing version, also change setup.py
        python-version: ['3.8', '3.9']
    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: ${{ matrix.python-version }}
        activate-environment: synthia-test
        environment-file: environment-test.yml

    - name: Install Synthia (test env)
      # 'shell' required to activate environment.
      # See https://github.com/conda-incubator/setup-miniconda#IMPORTANT.
      shell: bash -l {0}
      run: pip install .

    - name: Run tests
      shell: bash -l {0}
      run: pytest tests/

    - name: Run tests with pyvinecopulib
      shell: bash -l {0}
      run: |
        set -ex
        pip install pyvinecopulib
        pytest tests/

  gh-pages:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    # Install all dev dependencies to build notebooks etc.
    - uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: 3.8
        activate-environment: synthia
        environment-file: environment.yml

    - name: Install Synthia (dev env)
      # 'shell' required to activate environment.
      # See https://github.com/conda-incubator/setup-miniconda#IMPORTANT.
      shell: bash -l {0}
      run: pip install .

    - name: Build docs
      shell: bash -l {0}
      run: sphinx-build -v -b html docs/ docs/_build

    - name: Publish docs
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/_build
        force_orphan: true
